<h1 class="text-2xl font-bold mb-6">CRM Sales Funnel</h1>

<div class="flex justify-between mb-4">
  <%= link_to 'Add New Prospect', new_person_path, class: 'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600' %>
  <%= link_to 'Companies', companies_path, class: 'underline hover:text-blue-600' %>
</div>

<div id="sales-funnel" class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <% @people_by_stage.each do |stage, people| %>
    <div class="bg-white rounded shadow p-4">
      <h2 class="text-xl font-semibold border-b pb-2 mb-4"><%= stage.text %></h2>
      <% if people.present? %>
        <ul>
          <% people.each do |person| %>
            <li class="flex justify-between items-center mb-2">
              <div>
                <p class="font-medium"><%= person.full_name %></p>
                <p class="text-sm text-gray-600"><%= person.company&.name || "No company" %></p>
              </div>
              <div class="space-x-2">
                <div class='flex gap-2'>
                  <%= link_to 'Edit', edit_person_path(person), class: 'text-blue-500 hover:underline' %>
                  <%= button_to 'Delete', person_path(person), method: :delete, params: {page: params[:page]}, data: { turbo_confirm: 'Are you sure?' }, class: 'text-red-500 hover:underline' %>
                </div>
                <%= form_with url: move_stage_person_path(person), method: :patch, local: true, html: {class: 'flex gap-4'} do |form| %>
                  <%= hidden_field_tag :page, params[:page] %>
                  <%= form.select :stage, Person.stage.options.map { |label, value| [label, value] }, {selected: person.stage}, { class: 'border rounded' } %>
                  <%= form.submit 'Move', class: 'bg-gray-200 text-sm rounded px-2 py-1 hover:bg-gray-300' %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-gray-500">No people in this stage.</p>
      <% end %>
    </div>
  <% end %>
</div>

<div class='flex justify-center pt-4'>
  <%= paginate @paginated_people %>
</div>
